#centerLogo {
    width: calc(min(95%, 600px));
    margin: auto;
    margin-top: 50px;
    text-align: center;
}


#fnafLogo {
    width: 80%;
}

#mmLogo {
    width: 100%;
    rotate: -4deg;
    position: relative;
    top:-20px;
}

#createButton {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translate(-75px, 0px);
    bottom: 20px;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.431);
    border: none;
    text-decoration: underline;
}

#joinPanel {
    width: calc(min(95%, 300px));
    min-height: 300px;
    margin-top: 20px;
}

#joinPanel input {
    width: 93%;
    background-color: rgba(0, 0, 0, 0.641);
    border: 1px dashed gray;
    margin-top: 5px;
    color: red;
    font-size: 20px;
    border-radius: 0px;
    font-family: 'VT323', monospace;
}

#joinPanel input::placeholder {
    color: white;
    opacity: 0.1;
}

#joinPanel button {
    margin-top: 5px;
}