@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'VT323', monospace;
}

.backgroundImage {
    position: fixed;
    top: 0px;
    height: 100%;
    left:-700px;
    filter: brightness(1);
}

#page {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 1;
}

#staticImage {
    left: 0px;
    width: 100%;
}

.container {
    border: 3px solid rgba(255, 255, 255, 0.519);
    background-color: rgba(0, 0, 0, 0.419);
    margin: auto;
    text-align: left;
    padding: 20px;
    color: rgba(255, 255, 255, 0.494);
    font-size: 25px;
    overflow: auto;
    overflow-x: none;
}

h1 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 120px;
    margin: 10px;
    font-weight: normal;
}

button {
    background-color: rgba(50, 50, 50, 0.641);
    border: 1px dashed gray;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'VT323', monospace;
}

p {
    color: rgba(255, 255, 255, 0.468);
    text-align: center;
}

.fadeInStatic {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;

    pointer-events: none;

    animation: fadeInAnimation ease 2s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.strong {
    font-size: 35px;
    font-weight: bold;
}

#settingsButton {
    border: none;
    position: fixed;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    z-index: 4;
}

#settingsButton img {
    width: 100%;
    height: 100%;
}

#settingsButtonModal {
    background-color: rgba(0, 0, 0, 0.709);
    border: 2px solid white;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    z-index: 5;
    color: white;
    display: none;
}

#settingsButtonModal button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
}